# Virtual environments
nlp_env/
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# Logs
*.log

# Ignore transformer training artifacts
notebooks/transformer_results/
models/transformer_results/
checkpoint-*/
*.safetensors
*.bin
*.pt
*.pth

